@import "colors.scss";



body{
  background-color: $black_bgc;
}
/*
.container{
  height: 1500px;
  background: green;
}
*/
.head0{
  height:100px;
  margin-top: 1rem;
}


/*.menu0{
  top:20px;
}*/

h1,h2,h3{
  color:$white_primary;
}

.whitecross{
  color:$white_primary;
}

img {
   //height: 100%;
   background-image: url('../images/office.jpg');

}

#subhda,#subhdb{
  background-color: $element_prim;
  border:none;
}

textarea,input{
  color:$element_prim;
}

button{
  margin-top:20px;
}

.bfa_card{
  padding-top: -200px;
  z-index: 10;
}

.element_second{
  color:$black_primary;
}

/*.card-bgc{
background-color:$black_primary ;
}*/
/*
.card_reveal{
  background-color:$black_primary !important;
}*/
/*.cam01{
  width:200px;
  height:200px;
}*/
