@import "colors.scss";



body{
  background-color: $black_bgc;
}
/*
.container{
  height: 1500px;
  background: green;
}
*/
.head0{
  height:100px;
  margin-top: 1rem;
}

/*.material-icons{
color:rgba(187,134,252,1);

}*/

//********** FAB ***************
/*
.menu0{
  position:absolute;
  top:70px;
  //color:$element_prim !important;
//  opacity:0.8;
}*/

.fixed-action-btn{
  //position:absolute;
//  top:85px;
  bottom:84%;
}

.purme{
  background-color:$element_second !important;

    i{
      color:$black_primary;
    }

}

.btn-floating i{
  background-color:$element_second !important;
  color:$black_primary!important;
}

.fixed-action-btn ul{
  top:130px;
  bottom:500px;
}

.black_elem{
  color:$black_primary;
}

h1,h2,h3{
  color:$white_primary;
}

.whitecross{
  color:$white_primary;
}

img {
   //height: 100%;
   background-image: url('../images/office.jpg');

}

#subhda,#subhdb,#subhdc,#subhdd{
  background-color: $element_prim;
  border:none;
}

textarea,input{
  color:$element_prim;
}

button{
  margin-top:20px;
  background-color: $element_prim;
  border:none;
}

.bfa_card{
  padding-top: -200px;
  z-index: 10;
}

.element_second{
  color:$black_primary;
}

.rightfab{
  float:right;
}

/*.card-bgc{
background-color:$black_primary ;
}*/
/*
.card_reveal{
  background-color:$black_primary !important;
}*/
/*.cam01{
  width:200px;
  height:200px;
}*/
