
// Black UI
$black_bgc:#191919;
$black_primary:#222222;
$white_primary:#E3E2E2;

$element_prim:#BB86FC;
$purple_diff:#DDC2FE;
$element_second:#03DAC6;

.element_secondary{
  color:$element_second;
}

.elemt_primary{
  color: $element_prim;
}

.black_primary{
  color:$black_primary;
}
//$black_second:
